{% extends "teams/base.html" %}
{% block body %}
<h3 class="m-4 text-white"> Players Details</h3>
<!-- <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Dark card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->
<div class="row">
    <div class="col-12">
        {% if Players %}
        <div class="card text-white bg-dark ms-3 me-3 mb-4" style="border-radius: 30px;">
            <div class="card-header text-center " style="font-size: 2em;">
                <i class="fa-thin fa-cricket-bat-ball"></i>Players Stats
            </div>
            <div class="card-body">
                <p class="card-text">
                <div class="table-responsive">
                    <table class="table table-hover text-white" style="font-size: 1.2em;">
                        <thead>
                            <tr>
                                <th scope="col">Player Name</th>
                                <th scope="col">Role</th>
                                <th scope="col">Innings</th>
                                <th scope="col">Strike Rate</th>
                                <th scope="col">Runs</th>
                                <th scope="col">Wickets</th>
                                <th scope="col">Higest Score</th>
                                <th scope="col">Best Over</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for var in Players %}
                            <tr>
                                <td>{{ var.Name }}</td>
                                <td>{{ var.Role }}</td>
                                <td>{{ var.Innings }}</td>
                                <td>{{ var.Strike_Rate }}</td>
                                <td>{{ var.Total_runs }}</td>
                                <td>{{ var.Total_wickets }}</td>
                                <td>{{ var.Best_score_batting }}</td>
                                <td>{{ var.Best_Score_bowling }}</td>
                               

                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        </div>
        </p>
    </div>
</div>
{% else %}
<h5 class="alert alert-primary ms-4 me-4"> NO Players Record</h5>
{% endif %}
</div>
</div>

{% endblock %}